@import '../../styles/main';

.services__inner {
    margin-bottom: 48px;
    text-align: center;
}

.services__title,
.services__subtitle {
    font-weight: 500;
    line-height: $lh-header;
}

.services__title {
    color: #1C1C1C;
    font-size: $fs-big;
    margin-bottom: 8px;
}
.services__subtitle {
    color: #1C1C1E;
    font-size: $fs-small;
}

.services__img {
    max-width: 100%;
    margin: auto;
    margin-top: 48px;
}

@media (max-width: 660px) { 
    .services__title {
        font-size: $fs-medium;
        line-height: $lh-medium;
    }
    .services__subtitle {
        line-height: $lh-small;
        margin-top: 12px;
    }
}

@media (max-width: 400px) { 
    .services__subtitle {
        font-size: 12px;
    }
}