*, :after, :before {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

li, ul, p, button, h1, h2, h3, h4, figure {
  border-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  color: inherit;
  cursor: default;
  outline: none;
  text-decoration: none;
}

address {
  font-style: inherit;
}

.container {
  max-width: 1300px;
  margin: auto;
}

@media (width <= 1160px) {
  .cards__title, .features__title {
    font-size: 30px;
    line-height: 30px;
  }

  .cards__img, .features__img {
    max-width: 50%;
  }
}

@media (width <= 840px) {
  .cards__img {
    max-width: 40%;
  }

  .exchange__head {
    display: block;
  }
}

@media (width <= 750px) {
  .menu__item + .menu__item {
    margin-left: 16px;
  }

  .features__inner {
    justify-content: center;
  }

  .features__img {
    display: none;
  }
}

@media (width <= 660px) {
  .logo {
    font-size: 20px;
  }

  .menu-button-container {
    display: flex;
    position: absolute;
    left: 46%;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 61px;
    position: absolute;
    top: 0;
    left: 0;
  }

  #menu-toggle ~ .menu .menu__list li {
    border: 0;
    height: 0;
    margin: 0;
    padding: 0;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  .menu__link {
    display: none;
  }

  #menu-toggle:checked ~ .menu .menu__list li {
    border: 1px solid #003cff;
    height: 2.5em;
    padding: .5em;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  #menu-toggle:checked ~ .menu .menu__list li .menu__link {
    display: flex;
  }

  .menu__list > li {
    color: #003cff;
    background-color: #fff;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: .5em 0;
    display: flex;
  }

  .menu__list > li:not(:last-child) {
    border-bottom: 1px solid #003cff;
  }

  .menu__item + .menu__item {
    margin-left: 0;
  }

  .cards__title, .features__title, .exchange__head-title, .services__title, .support__title, .support__subtitle, .support__text {
    font-size: 20px;
    line-height: 22.4px;
  }

  .exchange__column-title {
    margin-right: 10px;
  }

  .cards__img {
    display: none;
  }

  .cards__inner {
    text-align: center;
    justify-content: center;
  }

  .features__inner {
    text-align: center;
  }

  .features__list-item {
    justify-content: center;
  }

  .features__list-text {
    text-align: start;
    width: 180px;
  }

  .exchange__head-subtitle {
    font-size: 14px;
  }

  .exchange__column-title, .exchange__column-text {
    font-weight: 500;
  }

  .exchange__column-img {
    display: none;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 16px;
  }

  .services__subtitle {
    margin-top: 12px;
    line-height: 14px;
  }

  .support__form, .support__input {
    width: 380px;
  }

  .support__input {
    padding-left: 12px;
    padding-right: 110px;
  }

  .support__input-img, .support__btn-img {
    display: none;
  }

  .support__btn {
    width: 90px;
    right: 12px;
  }

  .support__btn-text {
    margin-right: 0;
  }

  .footer__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__about-list {
    text-align: center;
    display: block;
  }

  .footer__contacts-mobile {
    font-size: 20px;
  }
}

@media (width <= 400px) {
  .logo {
    font-size: 16px;
  }

  .menu__btn, .cards__btn {
    letter-spacing: 0;
    padding: 16px 6px;
    line-height: 10px;
  }

  .exchange__head-subtitle, .services__subtitle {
    font-size: 12px;
  }

  .exchange__head {
    margin-bottom: 0;
  }

  .exchange__column-header {
    margin-bottom: 6px;
  }

  .exchange__column-title, .exchange__column-text {
    font-size: 16px;
  }

  .exchange__column-title {
    margin-right: 2px;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 6px;
  }

  .support__form, .support__input {
    width: 310px;
  }

  .footer__contacts-img {
    width: 120px;
    height: 100%;
  }

  .footer__contacts-mobile {
    font-size: 16px;
  }

  .footer__contacts {
    align-items: center;
  }
}

.header__inner {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo {
  color: #b4387a;
  letter-spacing: .48px;
  font-size: 24px;
  line-height: 26.88px;
}

.logo:hover {
  cursor: pointer;
}

.menu-button-container {
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  display: none;
}

#menu-toggle {
  display: none;
}

.menu-button, .menu-button:before, .menu-button:after {
  background-color: #003cff;
  border-radius: 2px;
  width: 30px;
  height: 4px;
  transition: transform .4s cubic-bezier(.23, 1, .32, 1);
  display: block;
  position: absolute;
}

.menu-button:before {
  content: "";
  margin-top: -8px;
}

.menu-button:after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button:before {
  margin-top: 0;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #fff0;
}

#menu-toggle:checked + .menu-button-container .menu-button:after {
  margin-top: 0;
  transform: rotate(-405deg);
}

.menu__list {
  align-items: center;
  display: flex;
}

.menu__item {
  color: #1d1929;
  letter-spacing: .32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.92px;
}

.menu__item:hover {
  color: #b2a35f;
  transition: var(--transition);
}

.menu__link {
  cursor: pointer;
}

.menu__item + .menu__item {
  margin-left: 40px;
}

.menu__btn {
  color: #fff;
  letter-spacing: .32px;
  background-color: #003cff;
  border: 1px solid #003cff;
  border-radius: 16px;
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 112%;
}

.menu__btn:hover {
  cursor: pointer;
  background-color: #7796c0;
  border: 1px solid #7796c0;
  transition: all .4s;
}

@media (width <= 750px) {
  .menu__item + .menu__item {
    margin-left: 16px;
  }
}

@media (width <= 660px) {
  .logo {
    font-size: 20px;
  }

  .menu-button-container {
    display: flex;
    position: absolute;
    left: 46%;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 61px;
    position: absolute;
    top: 0;
    left: 0;
  }

  #menu-toggle ~ .menu .menu__list li {
    border: 0;
    height: 0;
    margin: 0;
    padding: 0;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  .menu__link {
    display: none;
  }

  #menu-toggle:checked ~ .menu .menu__list li {
    border: 1px solid #003cff;
    height: 2.5em;
    padding: .5em;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  #menu-toggle:checked ~ .menu .menu__list li .menu__link {
    display: flex;
  }

  .menu__list > li {
    color: #003cff;
    background-color: #fff;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: .5em 0;
    display: flex;
  }

  .menu__list > li:not(:last-child) {
    border-bottom: 1px solid #003cff;
  }

  .menu__item + .menu__item {
    margin-left: 0;
  }
}

@media (width <= 400px) {
  .logo {
    font-size: 16px;
  }

  .menu__btn {
    letter-spacing: 0;
    padding: 16px 6px;
    line-height: 10px;
  }
}

*, :after, :before {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

li, ul, p, button, h1, h2, h3, h4, figure {
  border-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  color: inherit;
  cursor: default;
  outline: none;
  text-decoration: none;
}

address {
  font-style: inherit;
}

.container {
  max-width: 1300px;
  margin: auto;
}

@media (width <= 1160px) {
  .cards__title, .features__title {
    font-size: 30px;
    line-height: 30px;
  }

  .cards__img, .features__img {
    max-width: 50%;
  }
}

@media (width <= 840px) {
  .cards__img {
    max-width: 40%;
  }

  .exchange__head {
    display: block;
  }
}

@media (width <= 750px) {
  .menu__item + .menu__item {
    margin-left: 16px;
  }

  .features__inner {
    justify-content: center;
  }

  .features__img {
    display: none;
  }
}

@media (width <= 660px) {
  .logo {
    font-size: 20px;
  }

  .menu-button-container {
    display: flex;
    position: absolute;
    left: 46%;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 61px;
    position: absolute;
    top: 0;
    left: 0;
  }

  #menu-toggle ~ .menu .menu__list li {
    border: 0;
    height: 0;
    margin: 0;
    padding: 0;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  .menu__link {
    display: none;
  }

  #menu-toggle:checked ~ .menu .menu__list li {
    border: 1px solid #003cff;
    height: 2.5em;
    padding: .5em;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  #menu-toggle:checked ~ .menu .menu__list li .menu__link {
    display: flex;
  }

  .menu__list > li {
    color: #003cff;
    background-color: #fff;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: .5em 0;
    display: flex;
  }

  .menu__list > li:not(:last-child) {
    border-bottom: 1px solid #003cff;
  }

  .menu__item + .menu__item {
    margin-left: 0;
  }

  .cards__title, .features__title, .exchange__head-title, .services__title, .support__title, .support__subtitle, .support__text {
    font-size: 20px;
    line-height: 22.4px;
  }

  .exchange__column-title {
    margin-right: 10px;
  }

  .cards__img {
    display: none;
  }

  .cards__inner {
    text-align: center;
    justify-content: center;
  }

  .features__inner {
    text-align: center;
  }

  .features__list-item {
    justify-content: center;
  }

  .features__list-text {
    text-align: start;
    width: 180px;
  }

  .exchange__head-subtitle {
    font-size: 14px;
  }

  .exchange__column-title, .exchange__column-text {
    font-weight: 500;
  }

  .exchange__column-img {
    display: none;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 16px;
  }

  .services__subtitle {
    margin-top: 12px;
    line-height: 14px;
  }

  .support__form, .support__input {
    width: 380px;
  }

  .support__input {
    padding-left: 12px;
    padding-right: 110px;
  }

  .support__input-img, .support__btn-img {
    display: none;
  }

  .support__btn {
    width: 90px;
    right: 12px;
  }

  .support__btn-text {
    margin-right: 0;
  }

  .footer__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__about-list {
    text-align: center;
    display: block;
  }

  .footer__contacts-mobile {
    font-size: 20px;
  }
}

@media (width <= 400px) {
  .logo {
    font-size: 16px;
  }

  .menu__btn, .cards__btn {
    letter-spacing: 0;
    padding: 16px 6px;
    line-height: 10px;
  }

  .exchange__head-subtitle, .services__subtitle {
    font-size: 12px;
  }

  .exchange__head {
    margin-bottom: 0;
  }

  .exchange__column-header {
    margin-bottom: 6px;
  }

  .exchange__column-title, .exchange__column-text {
    font-size: 16px;
  }

  .exchange__column-title {
    margin-right: 2px;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 6px;
  }

  .support__form, .support__input {
    width: 310px;
  }

  .footer__contacts-img {
    width: 120px;
    height: 100%;
  }

  .footer__contacts-mobile {
    font-size: 16px;
  }

  .footer__contacts {
    align-items: center;
  }
}

.cards__inner {
  justify-content: space-between;
  margin-top: 138px;
  margin-bottom: 112px;
  display: flex;
}

.cards__title {
  color: #1c1c1e;
  margin-bottom: 36px;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
}

.cards__btn {
  color: #fff;
  letter-spacing: .32px;
  background-color: #003cff;
  border: 1px solid #003cff;
  border-radius: 16px;
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 112%;
}

.cards__btn:hover {
  cursor: pointer;
  background-color: #7796c0;
  border: 1px solid #7796c0;
  transition: all .4s;
}

@media (width <= 1160px) {
  .cards__title {
    font-size: 30px;
    line-height: 30px;
  }

  .cards__img {
    max-width: 50%;
  }
}

@media (width <= 840px) {
  .cards__img {
    max-width: 40%;
  }
}

@media (width <= 660px) {
  .cards__title {
    font-size: 20px;
    line-height: 22.4px;
  }

  .cards__img {
    display: none;
  }

  .cards__inner {
    text-align: center;
    justify-content: center;
  }
}

@media (width <= 400px) {
  .cards__btn {
    letter-spacing: 0;
    padding: 16px 6px;
    line-height: 10px;
  }
}

*, :after, :before {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

li, ul, p, button, h1, h2, h3, h4, figure {
  border-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  color: inherit;
  cursor: default;
  outline: none;
  text-decoration: none;
}

address {
  font-style: inherit;
}

.container {
  max-width: 1300px;
  margin: auto;
}

@media (width <= 1160px) {
  .cards__title, .features__title {
    font-size: 30px;
    line-height: 30px;
  }

  .cards__img, .features__img {
    max-width: 50%;
  }
}

@media (width <= 840px) {
  .cards__img {
    max-width: 40%;
  }

  .exchange__head {
    display: block;
  }
}

@media (width <= 750px) {
  .menu__item + .menu__item {
    margin-left: 16px;
  }

  .features__inner {
    justify-content: center;
  }

  .features__img {
    display: none;
  }
}

@media (width <= 660px) {
  .logo {
    font-size: 20px;
  }

  .menu-button-container {
    display: flex;
    position: absolute;
    left: 46%;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 61px;
    position: absolute;
    top: 0;
    left: 0;
  }

  #menu-toggle ~ .menu .menu__list li {
    border: 0;
    height: 0;
    margin: 0;
    padding: 0;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  .menu__link {
    display: none;
  }

  #menu-toggle:checked ~ .menu .menu__list li {
    border: 1px solid #003cff;
    height: 2.5em;
    padding: .5em;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  #menu-toggle:checked ~ .menu .menu__list li .menu__link {
    display: flex;
  }

  .menu__list > li {
    color: #003cff;
    background-color: #fff;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: .5em 0;
    display: flex;
  }

  .menu__list > li:not(:last-child) {
    border-bottom: 1px solid #003cff;
  }

  .menu__item + .menu__item {
    margin-left: 0;
  }

  .cards__title, .features__title, .exchange__head-title, .services__title, .support__title, .support__subtitle, .support__text {
    font-size: 20px;
    line-height: 22.4px;
  }

  .exchange__column-title {
    margin-right: 10px;
  }

  .cards__img {
    display: none;
  }

  .cards__inner {
    text-align: center;
    justify-content: center;
  }

  .features__inner {
    text-align: center;
  }

  .features__list-item {
    justify-content: center;
  }

  .features__list-text {
    text-align: start;
    width: 180px;
  }

  .exchange__head-subtitle {
    font-size: 14px;
  }

  .exchange__column-title, .exchange__column-text {
    font-weight: 500;
  }

  .exchange__column-img {
    display: none;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 16px;
  }

  .services__subtitle {
    margin-top: 12px;
    line-height: 14px;
  }

  .support__form, .support__input {
    width: 380px;
  }

  .support__input {
    padding-left: 12px;
    padding-right: 110px;
  }

  .support__input-img, .support__btn-img {
    display: none;
  }

  .support__btn {
    width: 90px;
    right: 12px;
  }

  .support__btn-text {
    margin-right: 0;
  }

  .footer__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__about-list {
    text-align: center;
    display: block;
  }

  .footer__contacts-mobile {
    font-size: 20px;
  }
}

@media (width <= 400px) {
  .logo {
    font-size: 16px;
  }

  .menu__btn, .cards__btn {
    letter-spacing: 0;
    padding: 16px 6px;
    line-height: 10px;
  }

  .exchange__head-subtitle, .services__subtitle {
    font-size: 12px;
  }

  .exchange__head {
    margin-bottom: 0;
  }

  .exchange__column-header {
    margin-bottom: 6px;
  }

  .exchange__column-title, .exchange__column-text {
    font-size: 16px;
  }

  .exchange__column-title {
    margin-right: 2px;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 6px;
  }

  .support__form, .support__input {
    width: 310px;
  }

  .footer__contacts-img {
    width: 120px;
    height: 100%;
  }

  .footer__contacts-mobile {
    font-size: 16px;
  }

  .footer__contacts {
    align-items: center;
  }
}

.features__inner {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  display: flex;
}

.features__title {
  color: #0b132a;
  margin-bottom: 20px;
  font-family: Rubik, sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
}

.features__text {
  color: #4f5665;
  margin-bottom: 25px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.features__list-item {
  align-items: center;
  display: flex;
}

.features__list-item + .features__list-item {
  margin-top: 10px;
}

.features__list-img {
  width: 20px;
  height: 100%;
  margin-right: 18px;
}

.features__list-text {
  color: #4f5665;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  line-height: 30px;
}

@media (width <= 1160px) {
  .features__title {
    font-size: 30px;
    line-height: 30px;
  }

  .features__img {
    max-width: 50%;
  }
}

@media (width <= 750px) {
  .features__inner {
    justify-content: center;
  }

  .features__img {
    display: none;
  }
}

@media (width <= 660px) {
  .features__title {
    font-size: 20px;
    line-height: 22.4px;
  }

  .features__inner {
    text-align: center;
  }

  .features__list-item {
    justify-content: center;
  }

  .features__list-text {
    text-align: start;
    width: 180px;
  }
}

*, :after, :before {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

li, ul, p, button, h1, h2, h3, h4, figure {
  border-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  color: inherit;
  cursor: default;
  outline: none;
  text-decoration: none;
}

address {
  font-style: inherit;
}

.container {
  max-width: 1300px;
  margin: auto;
}

@media (width <= 1160px) {
  .cards__title, .features__title {
    font-size: 30px;
    line-height: 30px;
  }

  .cards__img, .features__img {
    max-width: 50%;
  }
}

@media (width <= 840px) {
  .cards__img {
    max-width: 40%;
  }

  .exchange__head {
    display: block;
  }
}

@media (width <= 750px) {
  .menu__item + .menu__item {
    margin-left: 16px;
  }

  .features__inner {
    justify-content: center;
  }

  .features__img {
    display: none;
  }
}

@media (width <= 660px) {
  .logo {
    font-size: 20px;
  }

  .menu-button-container {
    display: flex;
    position: absolute;
    left: 46%;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 61px;
    position: absolute;
    top: 0;
    left: 0;
  }

  #menu-toggle ~ .menu .menu__list li {
    border: 0;
    height: 0;
    margin: 0;
    padding: 0;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  .menu__link {
    display: none;
  }

  #menu-toggle:checked ~ .menu .menu__list li {
    border: 1px solid #003cff;
    height: 2.5em;
    padding: .5em;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  #menu-toggle:checked ~ .menu .menu__list li .menu__link {
    display: flex;
  }

  .menu__list > li {
    color: #003cff;
    background-color: #fff;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: .5em 0;
    display: flex;
  }

  .menu__list > li:not(:last-child) {
    border-bottom: 1px solid #003cff;
  }

  .menu__item + .menu__item {
    margin-left: 0;
  }

  .cards__title, .features__title, .exchange__head-title, .services__title, .support__title, .support__subtitle, .support__text {
    font-size: 20px;
    line-height: 22.4px;
  }

  .exchange__column-title {
    margin-right: 10px;
  }

  .cards__img {
    display: none;
  }

  .cards__inner {
    text-align: center;
    justify-content: center;
  }

  .features__inner {
    text-align: center;
  }

  .features__list-item {
    justify-content: center;
  }

  .features__list-text {
    text-align: start;
    width: 180px;
  }

  .exchange__head-subtitle {
    font-size: 14px;
  }

  .exchange__column-title, .exchange__column-text {
    font-weight: 500;
  }

  .exchange__column-img {
    display: none;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 16px;
  }

  .services__subtitle {
    margin-top: 12px;
    line-height: 14px;
  }

  .support__form, .support__input {
    width: 380px;
  }

  .support__input {
    padding-left: 12px;
    padding-right: 110px;
  }

  .support__input-img, .support__btn-img {
    display: none;
  }

  .support__btn {
    width: 90px;
    right: 12px;
  }

  .support__btn-text {
    margin-right: 0;
  }

  .footer__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__about-list {
    text-align: center;
    display: block;
  }

  .footer__contacts-mobile {
    font-size: 20px;
  }
}

@media (width <= 400px) {
  .logo {
    font-size: 16px;
  }

  .menu__btn, .cards__btn {
    letter-spacing: 0;
    padding: 16px 6px;
    line-height: 10px;
  }

  .exchange__head-subtitle, .services__subtitle {
    font-size: 12px;
  }

  .exchange__head {
    margin-bottom: 0;
  }

  .exchange__column-header {
    margin-bottom: 6px;
  }

  .exchange__column-title, .exchange__column-text {
    font-size: 16px;
  }

  .exchange__column-title {
    margin-right: 2px;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 6px;
  }

  .support__form, .support__input {
    width: 310px;
  }

  .footer__contacts-img {
    width: 120px;
    height: 100%;
  }

  .footer__contacts-mobile {
    font-size: 16px;
  }

  .footer__contacts {
    align-items: center;
  }
}

.exchange {
  margin-bottom: 48px;
}

.exchange__inner {
  background: linear-gradient(#f4f4f4e6, #b2b2b200, #b2b2b2cc);
  border-radius: 28px;
  padding: 32px;
  box-shadow: 0 2px 4px #bbb3, 0 0 4px #00000014;
}

.exchange__head {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
}

.exchange__head-title, .exchange__head-subtitle, .exchange__column-header {
  font-weight: 500;
  line-height: 50px;
}

.exchange__head-title {
  color: #1c1c1e;
  font-size: 30px;
}

.exchange__head-subtitle {
  color: #000;
  font-size: 16px;
}

.exchange__column-header {
  color: #000;
  margin-bottom: 32px;
  font-size: 20px;
}

.exchange__column-content {
  justify-content: space-between;
  margin-bottom: 38px;
  display: flex;
}

.exchange__column-list {
  display: flex;
}

.exchange__column-list + .exchange__column-list {
  margin-top: 32px;
}

.exchange__column-item {
  display: flex;
}

.exchange__column-item + .exchange__column-item {
  margin-left: 32px;
}

.exchange__column-title, .exchange__column-text, .exchange__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 22.4px;
}

.exchange__column-title {
  color: gray;
  margin-right: 20px;
}

.exchange__column-text {
  color: #000;
}

.exchange__text {
  color: #fff;
}

@media (width <= 840px) {
  .exchange__head {
    display: block;
  }
}

@media (width <= 660px) {
  .exchange__head-title {
    font-size: 20px;
    line-height: 22.4px;
  }

  .exchange__column-title {
    margin-right: 10px;
  }

  .exchange__head-subtitle {
    font-size: 14px;
  }

  .exchange__column-title, .exchange__column-text {
    font-weight: 500;
  }

  .exchange__column-img {
    display: none;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 16px;
  }
}

@media (width <= 400px) {
  .exchange__head-subtitle {
    font-size: 12px;
  }

  .exchange__head {
    margin-bottom: 0;
  }

  .exchange__column-header {
    margin-bottom: 6px;
  }

  .exchange__column-title, .exchange__column-text {
    font-size: 16px;
  }

  .exchange__column-title {
    margin-right: 2px;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 6px;
  }
}

*, :after, :before {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

li, ul, p, button, h1, h2, h3, h4, figure {
  border-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  color: inherit;
  cursor: default;
  outline: none;
  text-decoration: none;
}

address {
  font-style: inherit;
}

.container {
  max-width: 1300px;
  margin: auto;
}

@media (width <= 1160px) {
  .cards__title, .features__title {
    font-size: 30px;
    line-height: 30px;
  }

  .cards__img, .features__img {
    max-width: 50%;
  }
}

@media (width <= 840px) {
  .cards__img {
    max-width: 40%;
  }

  .exchange__head {
    display: block;
  }
}

@media (width <= 750px) {
  .menu__item + .menu__item {
    margin-left: 16px;
  }

  .features__inner {
    justify-content: center;
  }

  .features__img {
    display: none;
  }
}

@media (width <= 660px) {
  .logo {
    font-size: 20px;
  }

  .menu-button-container {
    display: flex;
    position: absolute;
    left: 46%;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 61px;
    position: absolute;
    top: 0;
    left: 0;
  }

  #menu-toggle ~ .menu .menu__list li {
    border: 0;
    height: 0;
    margin: 0;
    padding: 0;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  .menu__link {
    display: none;
  }

  #menu-toggle:checked ~ .menu .menu__list li {
    border: 1px solid #003cff;
    height: 2.5em;
    padding: .5em;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  #menu-toggle:checked ~ .menu .menu__list li .menu__link {
    display: flex;
  }

  .menu__list > li {
    color: #003cff;
    background-color: #fff;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: .5em 0;
    display: flex;
  }

  .menu__list > li:not(:last-child) {
    border-bottom: 1px solid #003cff;
  }

  .menu__item + .menu__item {
    margin-left: 0;
  }

  .cards__title, .features__title, .exchange__head-title, .services__title, .support__title, .support__subtitle, .support__text {
    font-size: 20px;
    line-height: 22.4px;
  }

  .exchange__column-title {
    margin-right: 10px;
  }

  .cards__img {
    display: none;
  }

  .cards__inner {
    text-align: center;
    justify-content: center;
  }

  .features__inner {
    text-align: center;
  }

  .features__list-item {
    justify-content: center;
  }

  .features__list-text {
    text-align: start;
    width: 180px;
  }

  .exchange__head-subtitle {
    font-size: 14px;
  }

  .exchange__column-title, .exchange__column-text {
    font-weight: 500;
  }

  .exchange__column-img {
    display: none;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 16px;
  }

  .services__subtitle {
    margin-top: 12px;
    line-height: 14px;
  }

  .support__form, .support__input {
    width: 380px;
  }

  .support__input {
    padding-left: 12px;
    padding-right: 110px;
  }

  .support__input-img, .support__btn-img {
    display: none;
  }

  .support__btn {
    width: 90px;
    right: 12px;
  }

  .support__btn-text {
    margin-right: 0;
  }

  .footer__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__about-list {
    text-align: center;
    display: block;
  }

  .footer__contacts-mobile {
    font-size: 20px;
  }
}

@media (width <= 400px) {
  .logo {
    font-size: 16px;
  }

  .menu__btn, .cards__btn {
    letter-spacing: 0;
    padding: 16px 6px;
    line-height: 10px;
  }

  .exchange__head-subtitle, .services__subtitle {
    font-size: 12px;
  }

  .exchange__head {
    margin-bottom: 0;
  }

  .exchange__column-header {
    margin-bottom: 6px;
  }

  .exchange__column-title, .exchange__column-text {
    font-size: 16px;
  }

  .exchange__column-title {
    margin-right: 2px;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 6px;
  }

  .support__form, .support__input {
    width: 310px;
  }

  .footer__contacts-img {
    width: 120px;
    height: 100%;
  }

  .footer__contacts-mobile {
    font-size: 16px;
  }

  .footer__contacts {
    align-items: center;
  }
}

.services__inner {
  text-align: center;
  margin-bottom: 48px;
}

.services__title, .services__subtitle {
  font-weight: 500;
  line-height: 50px;
}

.services__title {
  color: #1c1c1c;
  margin-bottom: 8px;
  font-size: 30px;
}

.services__subtitle {
  color: #1c1c1e;
  font-size: 16px;
}

.services__img {
  max-width: 100%;
  margin: 48px auto auto;
}

@media (width <= 660px) {
  .services__title {
    font-size: 20px;
    line-height: 22.4px;
  }

  .services__subtitle {
    margin-top: 12px;
    line-height: 14px;
  }
}

@media (width <= 400px) {
  .services__subtitle {
    font-size: 12px;
  }
}

*, :after, :before {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

li, ul, p, button, h1, h2, h3, h4, figure {
  border-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  color: inherit;
  cursor: default;
  outline: none;
  text-decoration: none;
}

address {
  font-style: inherit;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.news {
  margin-bottom: 64px;
}

.news__head {
  margin-bottom: 46px;
}

.news__head-title, .news__head-subtitle, .slider-title, .slider-text {
  text-align: center;
  font-weight: 500;
}

.news__head-title, .slider-title, .slider-text {
  color: #000;
}

.news__head-subtitle, .slider-text {
  font-size: 16px;
}

.news__head-title {
  margin-bottom: 8px;
  font-size: 30px;
  line-height: 166.667%;
}

.news__head-subtitle {
  color: #2d3748;
  line-height: 312.5%;
}

.swiper-container {
  height: 460px;
  margin-bottom: 48px;
  overflow: hidden;
}

.swiper-slide {
  background: #fff;
  border: 1px solid #bbb3;
  border-radius: 28px;
  height: 448px;
  padding: 32px;
  box-shadow: 0 2px 4px #0003, 0 0 4px #00000014;
}

.img-container {
  height: 120px;
  overflow: hidden;
}

.slider-img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}

.slider-title {
  height: 104px;
  margin: 32px 0;
  font-size: 20px;
  line-height: 125%;
}

.slider-link {
  cursor: pointer;
}

.slider-text {
  height: 96px;
  line-height: 143.75%;
  overflow: hidden;
}

.slider-buttons {
  justify-content: end;
  display: flex;
}

.swiper-button-next {
  margin-left: 20px;
}

.swiper-button-next, .swiper-button-prev {
  background: var(--blue-3, #003cff);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  width: 64px;
  height: 64px;
  padding: 8px;
  position: static;
}

.swiper-button-next {
  background-image: url("arrow-right.b4c7fd58.svg");
}

.swiper-button-prev {
  background-image: url("arrow-left.47208016.svg");
}

.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

.swiper-button-disabled {
  background: #fff;
  border: 1px solid #003cff;
}

.swiper-button-prev.swiper-button-disabled {
  background-image: url("arrow-left-inactive.68319095.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-next.swiper-button-disabled {
  background-image: url("arrow-right-inactive.f1682e72.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (width <= 1100px) {
  .slider-title {
    height: 120px;
    line-height: 100%;
  }
}

@media (width <= 900px) {
  .slider-title {
    height: 100px;
    margin: 16px 0;
    font-size: 16px;
  }
}

@media (width <= 600px) {
  .news__head-title {
    font-size: 20px;
  }

  .news__head-subtitle {
    line-height: 100%;
  }
}

*, :after, :before {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

li, ul, p, button, h1, h2, h3, h4, figure {
  border-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  color: inherit;
  cursor: default;
  outline: none;
  text-decoration: none;
}

address {
  font-style: inherit;
}

.container {
  max-width: 1300px;
  margin: auto;
}

@media (width <= 1160px) {
  .cards__title, .features__title {
    font-size: 30px;
    line-height: 30px;
  }

  .cards__img, .features__img {
    max-width: 50%;
  }
}

@media (width <= 840px) {
  .cards__img {
    max-width: 40%;
  }

  .exchange__head {
    display: block;
  }
}

@media (width <= 750px) {
  .menu__item + .menu__item {
    margin-left: 16px;
  }

  .features__inner {
    justify-content: center;
  }

  .features__img {
    display: none;
  }
}

@media (width <= 660px) {
  .logo {
    font-size: 20px;
  }

  .menu-button-container {
    display: flex;
    position: absolute;
    left: 46%;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 61px;
    position: absolute;
    top: 0;
    left: 0;
  }

  #menu-toggle ~ .menu .menu__list li {
    border: 0;
    height: 0;
    margin: 0;
    padding: 0;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  .menu__link {
    display: none;
  }

  #menu-toggle:checked ~ .menu .menu__list li {
    border: 1px solid #003cff;
    height: 2.5em;
    padding: .5em;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  #menu-toggle:checked ~ .menu .menu__list li .menu__link {
    display: flex;
  }

  .menu__list > li {
    color: #003cff;
    background-color: #fff;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: .5em 0;
    display: flex;
  }

  .menu__list > li:not(:last-child) {
    border-bottom: 1px solid #003cff;
  }

  .menu__item + .menu__item {
    margin-left: 0;
  }

  .cards__title, .features__title, .exchange__head-title, .services__title, .support__title, .support__subtitle, .support__text {
    font-size: 20px;
    line-height: 22.4px;
  }

  .exchange__column-title {
    margin-right: 10px;
  }

  .cards__img {
    display: none;
  }

  .cards__inner {
    text-align: center;
    justify-content: center;
  }

  .features__inner {
    text-align: center;
  }

  .features__list-item {
    justify-content: center;
  }

  .features__list-text {
    text-align: start;
    width: 180px;
  }

  .exchange__head-subtitle {
    font-size: 14px;
  }

  .exchange__column-title, .exchange__column-text {
    font-weight: 500;
  }

  .exchange__column-img {
    display: none;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 16px;
  }

  .services__subtitle {
    margin-top: 12px;
    line-height: 14px;
  }

  .support__form, .support__input {
    width: 380px;
  }

  .support__input {
    padding-left: 12px;
    padding-right: 110px;
  }

  .support__input-img, .support__btn-img {
    display: none;
  }

  .support__btn {
    width: 90px;
    right: 12px;
  }

  .support__btn-text {
    margin-right: 0;
  }

  .footer__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__about-list {
    text-align: center;
    display: block;
  }

  .footer__contacts-mobile {
    font-size: 20px;
  }
}

@media (width <= 400px) {
  .logo {
    font-size: 16px;
  }

  .menu__btn, .cards__btn {
    letter-spacing: 0;
    padding: 16px 6px;
    line-height: 10px;
  }

  .exchange__head-subtitle, .services__subtitle {
    font-size: 12px;
  }

  .exchange__head {
    margin-bottom: 0;
  }

  .exchange__column-header {
    margin-bottom: 6px;
  }

  .exchange__column-title, .exchange__column-text {
    font-size: 16px;
  }

  .exchange__column-title {
    margin-right: 2px;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 6px;
  }

  .support__form, .support__input {
    width: 310px;
  }

  .footer__contacts-img {
    width: 120px;
    height: 100%;
  }

  .footer__contacts-mobile {
    font-size: 16px;
  }

  .footer__contacts {
    align-items: center;
  }
}

.support {
  margin-bottom: 98px;
}

.support__inner {
  text-align: center;
}

.support__title, .support__subtitle, .support__text {
  line-height: 147.4%;
}

.support__title, .support__subtitle {
  font-weight: 700;
}

.support__subtitle, .support__text {
  color: #1c1c1e;
  letter-spacing: .6px;
  font-size: 30px;
}

.support__title {
  color: #eb801d;
  letter-spacing: .48px;
  margin-bottom: 30px;
  font-size: 24px;
}

.support__subtitle {
  margin-bottom: 26.82px;
}

.support__text {
  margin-bottom: 62px;
  font-weight: 500;
}

.support__form {
  width: 525px;
  margin: auto;
  position: relative;
}

.support__input {
  background: #fff;
  border-style: none;
  border-radius: 20px;
  width: 524.8px;
  height: 89.839px;
  padding-left: 69.64px;
  padding-right: 195px;
  box-shadow: 0 10px 20px #363a781a;
}

.support__input::-moz-placeholder {
  color: #9092b0;
  letter-spacing: .4px;
  font-family: Nunito Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 147.4%;
}

.support__input, .support__input::placeholder {
  color: #9092b0;
  letter-spacing: .4px;
  font-family: Nunito Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 147.4%;
}

.support__input-img {
  width: 27.885px;
  height: 37.433px;
  position: absolute;
  top: 24px;
  left: 32px;
}

.support__btn {
  background-color: #686df1;
  border-radius: 20px;
  width: 161.477px;
  height: 44.919px;
  position: absolute;
  top: 24px;
  right: 32px;
}

.support__btn:hover {
  cursor: pointer;
}

.support__btn-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.support__btn-img {
  width: 23.907px;
  height: 26.037px;
  margin-left: 14.13px;
}

.support__btn-text {
  color: #fff;
  width: 95.877px;
  margin-right: 11.1px;
  font-size: 16px;
  font-weight: 700;
  line-height: 126.9%;
}

@media (width <= 660px) {
  .support__title, .support__subtitle, .support__text {
    font-size: 20px;
    line-height: 22.4px;
  }

  .support__form, .support__input {
    width: 380px;
  }

  .support__input {
    padding-left: 12px;
    padding-right: 110px;
  }

  .support__input-img, .support__btn-img {
    display: none;
  }

  .support__btn {
    width: 90px;
    right: 12px;
  }

  .support__btn-text {
    margin-right: 0;
  }
}

@media (width <= 400px) {
  .support__form, .support__input {
    width: 310px;
  }
}

*, :after, :before {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

li, ul, p, button, h1, h2, h3, h4, figure {
  border-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  color: inherit;
  cursor: default;
  outline: none;
  text-decoration: none;
}

address {
  font-style: inherit;
}

.container {
  max-width: 1300px;
  margin: auto;
}

@media (width <= 1160px) {
  .cards__title, .features__title {
    font-size: 30px;
    line-height: 30px;
  }

  .cards__img, .features__img {
    max-width: 50%;
  }
}

@media (width <= 840px) {
  .cards__img {
    max-width: 40%;
  }

  .exchange__head {
    display: block;
  }
}

@media (width <= 750px) {
  .menu__item + .menu__item {
    margin-left: 16px;
  }

  .features__inner {
    justify-content: center;
  }

  .features__img {
    display: none;
  }
}

@media (width <= 660px) {
  .logo {
    font-size: 20px;
  }

  .menu-button-container {
    display: flex;
    position: absolute;
    left: 46%;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 61px;
    position: absolute;
    top: 0;
    left: 0;
  }

  #menu-toggle ~ .menu .menu__list li {
    border: 0;
    height: 0;
    margin: 0;
    padding: 0;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  .menu__link {
    display: none;
  }

  #menu-toggle:checked ~ .menu .menu__list li {
    border: 1px solid #003cff;
    height: 2.5em;
    padding: .5em;
    transition: height .4s cubic-bezier(.23, 1, .32, 1);
  }

  #menu-toggle:checked ~ .menu .menu__list li .menu__link {
    display: flex;
  }

  .menu__list > li {
    color: #003cff;
    background-color: #fff;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: .5em 0;
    display: flex;
  }

  .menu__list > li:not(:last-child) {
    border-bottom: 1px solid #003cff;
  }

  .menu__item + .menu__item {
    margin-left: 0;
  }

  .cards__title, .features__title, .exchange__head-title, .services__title, .support__title, .support__subtitle, .support__text {
    font-size: 20px;
    line-height: 22.4px;
  }

  .exchange__column-title {
    margin-right: 10px;
  }

  .cards__img {
    display: none;
  }

  .cards__inner {
    text-align: center;
    justify-content: center;
  }

  .features__inner {
    text-align: center;
  }

  .features__list-item {
    justify-content: center;
  }

  .features__list-text {
    text-align: start;
    width: 180px;
  }

  .exchange__head-subtitle {
    font-size: 14px;
  }

  .exchange__column-title, .exchange__column-text {
    font-weight: 500;
  }

  .exchange__column-img {
    display: none;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 16px;
  }

  .services__subtitle {
    margin-top: 12px;
    line-height: 14px;
  }

  .support__form, .support__input {
    width: 380px;
  }

  .support__input {
    padding-left: 12px;
    padding-right: 110px;
  }

  .support__input-img, .support__btn-img {
    display: none;
  }

  .support__btn {
    width: 90px;
    right: 12px;
  }

  .support__btn-text {
    margin-right: 0;
  }

  .footer__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__about-list {
    text-align: center;
    display: block;
  }

  .footer__contacts-mobile {
    font-size: 20px;
  }
}

@media (width <= 400px) {
  .logo {
    font-size: 16px;
  }

  .menu__btn, .cards__btn {
    letter-spacing: 0;
    padding: 16px 6px;
    line-height: 10px;
  }

  .exchange__head-subtitle, .services__subtitle {
    font-size: 12px;
  }

  .exchange__head {
    margin-bottom: 0;
  }

  .exchange__column-header {
    margin-bottom: 6px;
  }

  .exchange__column-title, .exchange__column-text {
    font-size: 16px;
  }

  .exchange__column-title {
    margin-right: 2px;
  }

  .exchange__column-item + .exchange__column-item {
    margin-left: 6px;
  }

  .support__form, .support__input {
    width: 310px;
  }

  .footer__contacts-img {
    width: 120px;
    height: 100%;
  }

  .footer__contacts-mobile {
    font-size: 16px;
  }

  .footer__contacts {
    align-items: center;
  }
}

.footer {
  background-color: #b2b2b233;
}

.footer__inner {
  margin: auto;
  padding-top: 96px;
  padding-bottom: 92px;
}

.footer__contacts {
  justify-content: space-between;
  display: flex;
}

.footer__contacts-mobile {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 147.4%;
}

.footer__contacts-mail {
  color: #2d3748;
  margin-top: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 2%;
}

.footer__about {
  margin-top: 32px;
}

.footer__about-list {
  flex-wrap: wrap;
  display: flex;
}

.footer__about-item {
  color: #000;
  letter-spacing: .32px;
  margin-right: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 147.4%;
}

.footer__about-item:hover {
  color: #b2a35f;
  cursor: pointer;
  transition: all .4s;
}

.footer__about-link {
  cursor: pointer;
}

.footer-line {
  border: 2px solid #fff;
  margin-top: 28px;
  display: flex;
}

.footer__description {
  color: #2d3748;
  letter-spacing: .32px;
  margin-top: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 147.4%;
}

@media (width <= 660px) {
  .footer__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__about-list {
    text-align: center;
    display: block;
  }

  .footer__contacts-mobile {
    font-size: 20px;
  }
}

@media (width <= 400px) {
  .footer__contacts-img {
    width: 120px;
    height: 100%;
  }

  .footer__contacts-mobile {
    font-size: 16px;
  }

  .footer__contacts {
    align-items: center;
  }
}

/*# sourceMappingURL=main.css.map */
