@import '../../styles/main';

.cards__inner {
    margin-top: 138px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
}

.cards__title {
    color: #1C1C1E;
    font-size: $fs-header;
    font-weight: 700;
    line-height: $lh-header;
    margin-bottom: 36px;
}

.cards__btn {
    color: $white;
    font-size: $fs-small;
    line-height: 112%;
    letter-spacing: 0.32px;
    font-weight: 700;
    background-color: $blue;
    border: 1px solid $blue;
    border-radius: $br-small;
    padding: 16px;

    &:hover {
        background-color: #7796C0;
        border: 1px solid #7796C0;
        transition: $t-small;
        cursor: pointer;
    }
}

@media (max-width: 1160px) {
    .cards__title {
        font-size: $fs-big;
        line-height: $lh-big;
    }
    .cards__img {  
        max-width: 50%;
    }
}

@media (max-width: 840px) {
    .cards__img {  
        max-width: 40%;
    }
}

@media (max-width: 660px) { 
    .cards__title {
        font-size: $fs-medium;
        line-height: $lh-medium;
    }
    .cards__img {  
        display: none;
    }
    .cards__inner  {
       justify-content: center;
       text-align: center;
    }
}

@media (max-width: 400px) { 
    .cards__btn { 
        line-height: 10px;
        letter-spacing: 0px;
        padding: 16px 6px;
    }
}
