*,
::after,
::before {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

li,
ul,
p,
button,
h1,
h2,
h3,
h4,
figure {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-style: none;
}

img {
  display: block;
}

a {
  color: inherit;
  cursor: default;
  text-decoration: none;
  outline: none;
}

address {
  font-style: inherit;
}

.container {
  margin: auto;
  max-width: 1300px;
}

@media (max-width: 1160px) {
  .cards__title,
  .features__title {
    font-size: 30px;
    line-height: 30px;
  }
  .cards__img {
    max-width: 50%;
  }
  .features__img {
    max-width: 50%;
  }
}
@media (max-width: 840px) {
  .cards__img {
    max-width: 40%;
  }
  .exchange__head {
    display: block;
  }
}
@media (max-width: 750px) {
  .menu__item + .menu__item {
    margin-left: 16px;
  }
  .features__inner {
    justify-content: center;
  }
  .features__img {
    display: none;
  }
}
@media (max-width: 660px) {
  .logo {
    font-size: 20px;
  }
  .menu-button-container {
    display: flex;
    left: 46%;
    position: absolute;
  }
  .menu__list {
    position: absolute;
    top: 0;
    margin-top: 61px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu .menu__list li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu__link {
    display: none;
  }
  #menu-toggle:checked ~ .menu .menu__list li {
    border: 1px solid #003CFF;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu .menu__list li .menu__link {
    display: flex;
  }
  .menu__list > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #003CFF;
    background-color: #fff;
  }
  .menu__list > li:not(:last-child) {
    border-bottom: 1px solid #003CFF;
  }
  .menu__item + .menu__item {
    margin-left: 0;
  }
  .cards__title,
  .features__title,
  .exchange__head-title,
  .services__title,
  .support__title,
  .support__subtitle,
  .support__text {
    font-size: 20px;
    line-height: 22.4px;
  }
  .exchange__column-title {
    margin-right: 10px;
  }
  .cards__img {
    display: none;
  }
  .cards__inner {
    justify-content: center;
    text-align: center;
  }
  .features__inner {
    text-align: center;
  }
  .features__list-item {
    justify-content: center;
  }
  .features__list-text {
    width: 180px;
    text-align: start;
  }
  .exchange__head-subtitle {
    font-size: 14px;
  }
  .exchange__column-title,
  .exchange__column-text {
    font-weight: 500;
  }
  .exchange__column-img {
    display: none;
  }
  .exchange__column-item + .exchange__column-item {
    margin-left: 16px;
  }
  .services__subtitle {
    line-height: 14px;
    margin-top: 12px;
  }
  .support__form,
  .support__input {
    width: 380px;
  }
  .support__input {
    padding-left: 12px;
    padding-right: 110px;
  }
  .support__input-img,
  .support__btn-img {
    display: none;
  }
  .support__btn {
    width: 90px;
    right: 12px;
  }
  .support__btn-text {
    margin-right: 0;
  }
  .footer__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__about-list {
    display: block;
    text-align: center;
  }
  .footer__contacts-mobile {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .logo {
    font-size: 16px;
  }
  .menu__btn,
  .cards__btn {
    line-height: 10px;
    letter-spacing: 0px;
    padding: 16px 6px;
  }
  .exchange__head-subtitle,
  .services__subtitle {
    font-size: 12px;
  }
  .exchange__head {
    margin-bottom: 0;
  }
  .exchange__column-header {
    margin-bottom: 6px;
  }
  .exchange__column-title,
  .exchange__column-text {
    font-size: 16px;
  }
  .exchange__column-title {
    margin-right: 2px;
  }
  .exchange__column-item + .exchange__column-item {
    margin-left: 6px;
  }
  .support__form,
  .support__input {
    width: 310px;
  }
  .footer__contacts-img {
    width: 120px;
    height: 100%;
  }
  .footer__contacts-mobile {
    font-size: 16px;
  }
  .footer__contacts {
    align-items: center;
  }
}
.features__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.features__title {
  color: #0B132A;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 20px;
}

.features__text {
  color: #4F5665;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 25px;
}

.features__list-item {
  display: flex;
  align-items: center;
}

.features__list-item + .features__list-item {
  margin-top: 10px;
}

.features__list-img {
  width: 20px;
  height: 100%;
  margin-right: 18px;
}

.features__list-text {
  color: #4F5665;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 30px;
}

@media (max-width: 1160px) {
  .features__title {
    font-size: 30px;
    line-height: 30px;
  }
  .features__img {
    max-width: 50%;
  }
}
@media (max-width: 750px) {
  .features__inner {
    justify-content: center;
  }
  .features__img {
    display: none;
  }
}
@media (max-width: 660px) {
  .features__title {
    font-size: 20px;
    line-height: 22.4px;
  }
  .features__inner {
    text-align: center;
  }
  .features__list-item {
    justify-content: center;
  }
  .features__list-text {
    width: 180px;
    text-align: start;
  }
}/*# sourceMappingURL=Features.css.map */